html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAFAFA;
  font-size: 16px;
  
}

.obrazek {
  display: flex;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  
}

.nadpis {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin: 40px auto 10px auto;
  
}

.line {
  border-bottom: 2px solid #407BFF;
  width: 60px;
  margin: 0 auto; 
}

.uvod {
  text-align: center;
  font-weight: 300;
  margin: 30px 0 0 0;
}

.tlacitka {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.modry {
  background-color: #407BFF;
  font-weight: 400;
  width: 195px;
  height: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 30px auto 10px auto; 
 }

.sedy {
  background-color:#8B8B8B;
  font-weight: 400;
  width: 220px;
  height: 40px;
  padding: 10px 25px;
  border-radius: 20px;
  margin: 0 auto 60px auto;
}

.sluzby-kancelare {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  text-align: center;
  font-weight: 300;
  margin: 0 auto 30px auto;
}

.box {
  display: flex;
  font-weight: 300;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 15px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #3d3f441f;
  background-color: white;
}

.text-box{
  font-size: 13px;
  margin-left: 30px;
}

.img-ikona {
  justify-content: center;
}

.sluzby-delegat{
  margin: 60px auto 15px auto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.text-delegat {
  text-align: center;
  font-weight: 300;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 640px) {
  .projekt {
    padding: 60px 0 60px 0;
  }

  .obrazek {
    display: flex;
    margin: 0 auto 30px auto;
    max-width: 400px;
  }

  .nadpis {
    margin: 30px auto 10px auto;
  }

  .uvod {
    margin: 40px 110px 30px 110px;
  }
  .tlacitka {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modry {
    margin: 0 20px 0 0;
  }
  .sedy {
    margin: 0;
  }

  .sluzby-kancelare {
    margin: 80px auto 20px auto;
  }

  .text {
    margin: 20px 110px 40px 110px;
  }

  .ikony,
  .ikony2 {
    display: flex;
    flex: 1 1 calc(100% / 3);
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 40px 15px 20px 15px;
    margin: 0 20px 0 0;
  }
 
  .img-ikona {
    margin: auto;
    width: 45px;
  }

  .text-box{
    align-items: flex-end;
    text-align: center;
  }

  .sluzby-delegat {
    margin: 80px auto 20px auto;
  }
  .text-delegat {
    margin: 20px 110px 40px 110px;
  }
}

@media screen and (min-width: 1100px) {

  .body {
    padding: 0 ;
  }

  .projekt {
    max-width: 1040px;
    margin: 0 auto;
  }

  .sekce1 {
    display: flex;
    padding-bottom: 0;
  }

  .sekce-uvod {
    flex: 1 1 490px;
    order: 1;
    padding: 130px 94px 70px 0;

  }
  .nadpis {
    text-align: left;
  }
  .line {
    margin-left: 0;
  }

  .uvod {
    margin: 40px 0 30px 0;
    text-align: left;
  }

  .tlacitka {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .sekce-obrazek {
    order: 2;
    padding: 60px 0 0 0;
  }

  .obrazek {
    width: 425px;
    height: 353px;
    margin: 0 auto;
  }

  .sekce2,
  .sekce3 {
    margin-top: 80px;
    display: flex;
  }

  .sekce3 {
    margin-bottom: 60px;
  }

  .sekce-ikony,
  .sekce-ikony2 {
    flex: 1 0 550px;
    margin-top: 0;
    display: flex;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 20px 0 0;
    justify-content: center;
  }
  
  .img-ikona {
    margin: auto;
    padding-top: 40px;
    width: 45px;
  }

  .text-box {
    margin: 0;
    padding: 20px 15px;
  }

  .sekce-delegat {
    margin: 40px 60px 0 0;
  }

  .sekce-kancelare {
    order: 2;
    margin-top: 40px;
    margin-left: 60px;
  }

  .sluzby-kancelare,
  .sluzby-delegat {
    margin: 0 0 17px 0px;
    text-align: left;
  }
  .text,
  .text-delegat {
    text-align: left;
    margin: 0;
  }    
}